body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0
}

header {
    width: 100%;
    height: 100%;
    background-color:#131313;
}
main {
    width: 100%;
    height: 100%;
}
footer {
    width: 100%;
    height: auto;
    background-color: #181818;
}
button {
    cursor: pointer;
}
.width-content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.wrap-header {
    min-height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-name, .logo-name a {
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    text-decoration: none;
}
.menu-header li {
    display: inline-block;
    margin: 0 47px;
}
.menu-header li a {
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-header li a:hover {
    color: #E3B873;
}
.select-menu  {
    color:#E3B873 !important;
}
.block-phone-a-bttn {
    display: flex;
    column-gap: 45px;
    align-items: center;
}
.phone a {
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
}
.bttn-default {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 36px 12px 36px;
    border: none;
}
.bg-img-top {
    width: 100%;
    height:707px;
    background-image: url("../../assest/img/bg-slide-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.block-info-img-top {
    position: absolute;
    width: 50%;
    top: 23%;
    left: 0;
    transform: translate(13%, -3%);
}
.title-b-i-i-t h1 {
    font-family: 'Yeseva One', cursive;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 53px;
    font-weight: 400;
}
.select-text-color {
    color: #E3B873;
}
.text-b-i-i-t {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.two-bttns {
    display: flex;
    column-gap: 20px;
}
.bttn-change-top-img {
    padding: 20px 36px 20px 36px
}
.bttn-none-bg {
    background: none;
    border: 1px solid #fff;
    box-shadow: none;
}
.dots-block {
    display: block;
    margin: 0 0.5em;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
}
.dots-select {
    background: #fff;
}
.completed-projects {
    background-color: #131313;
    color: #fff;
    padding-top: 107px;
    width: 100%;
    height: 1000px;
}
.blocks-completed-projects {
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: space-around;
}
.title-b-l-c-p h2 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 27px;
    text-transform: uppercase;
    color: #E3B873;
}
.text-b-l-c-p {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    width: 442px;
    height: auto;
}
.block-info-b-l-c-p h4 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #E3B873;
}
.info-b-l-c-p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 34px;
    column-gap: 34px;
}
.arrows-dots-slider-b-l-c-p {
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: left;
    margin-top: 81px;
}

.tabs-up-b-r-c-p {
    display: flex;
    column-gap: 60px;
}
.block-tabs-up-b-r-c-p {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.select-tab {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}
.img-tabs-up-b-r-c-p {
    margin-top: 53px;
}
.dots-list {
    display: flex;
    column-gap: 18px;
}
.arrow-left, .arrow-right {
    height: 18px;
}
.title-section h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.img-section {
    text-align: center;
    position: relative;
    width: 120px;
    height: auto;
    margin: 0 auto;
}
.img-section:before {
    content: '';
    width: 32px;
    height: 2px;
    background: #E3B873;
    position: absolute;
    left: 0;
    top: 42%;
}
.img-section:after {
    content: '';
    width: 32px;
    height: 2px;
    background: #E3B873;
    position: absolute;
    right: 0;
    top: 42%;
}
.online-contol{
    width: 817px;
    height: auto;
    margin: -350px auto 0 auto;
}
.online-video {
    width: 817px;
    height: 434px;
    position: relative;
    background-image: url("../../assest/img/video.png");
    background-repeat: no-repeat;
    margin: 31px auto 0 auto;
}
.black-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000a6;
}
.black-bg img{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
}
.border-line {
    width: 55px;
    height: 2px;
    background: #E3B873;
    border-radius: 30px;
    margin: 62px auto 34px auto;
}
.block-text-o-c {
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.flex-form-wrap {
    display: flex;
    column-gap: 60px;
    align-items: center;
    justify-content: space-between;
    margin-top: 93px;
}
.block-label label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.block-label input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 8px;
    background: none;

}
.submit-form-bttn {
    font-size: 13px;
    padding: 18px 76px 18px 76px;
    font-style: normal;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.checkb-width {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 38px;
}
.types-of-repair {
    margin-top: 148px;
}
.types-of-repair .title-section h3 {
    color: #000;
}
.flex-types {
    display: flex;
    column-gap: 30px;
    margin-top: 31px;
    justify-content: center;
}
.block-types {
    width: 392px;
    height: 421px;
    position: relative;
}
.block-info-types {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 67%;
    background-color: #fff;
    width: 330px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.block-info-types h4 {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 34px 0 0 34px;
}
.list-types {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin-top: 13px;
    padding: 0 0 0 50px;
}
.bttn-types-b {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-family: 'Yeseva One';
    padding: 14px 36px 12px 36px;
    position: absolute;

}
.bttn-types {
    margin-bottom: 13%;
}
.blocks-request {
    display: flex;
    margin-top: 330px;
    align-items: flex-start;
}
.left-b-q {
    height: 645px;
    width: 55%;
    background-image: url("../../assest/img/img-type-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 645px;
    position: relative;
}
.num-b-l-b {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    padding: 12px;

}
.flex-numbers{
    display: flex;
    flex-direction: column;
    row-gap: 88px;
    position: absolute;
    left: 26%;
    top: 15%;
}
.block-left-b-q-n {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.right-b-q {
    width: 45%;
    height: 100%;
}
.block-form-l {
    background: #131313;
    box-shadow: 0px 30px 30px rgb(0 0 0 / 5%);
    width: 506px;
    height: auto;
    min-height: 495px;
    padding: 27px 49px;
}
.block-form-leave {
    margin-top: 79px;
}
.block-l-form-2 {
    text-align: left;
    margin: 48px 0;
}
.block-l-form-2:nth-last-child(-n+3) {
    margin: 39px 0 16px 0;
    color: #fff;
}
.block-l-form-2:last-child {
    text-align: right;
}
.title-form-l h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}
.block-l-form-2 label , .block-l-form-3 label{
    color: rgba(255, 255, 255, 0.5);
}
.block-l-form-2 input, .block-l-form-3 input {
    color: #fff;
    width: 100%;
    height: auto;
}
.block-save {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: auto;
    column-gap: 25px;
    margin: 39px;
}
.save-icon img {
    background: #E3B873;
    box-shadow: 0px 10px 20px rgb(237 192 120 / 20%);
    border-radius: 50%;
    padding: 19px 16px;
}
.block-text-save {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.block-fantasies {
    width: 100%;
    height: 900px;
    position: relative;
    background-image: url("../../assest/img/bg-fantasies.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 242px;
    display: flex;
}
.shadow-f {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.left-block-f {
    width: 35%;
    height: auto;
    margin: 50px 0 0 100px;
}
.right-block-f {
    width: 65%;;
}
.title-s-f h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}
.left-block-f, .right-block-f {
    z-index: 2;
}
.slide-l {
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}
.list-slide {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.select-slide-l {
    font-size: 20px;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    width: max-content;
    height: auto;
}
.gallery-slide-f {
    column-count: 2;
    column-gap: 0;
    width: 80%;
    height: auto;
    height: auto;
    margin-top: -50px;
}
.img-g-s {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin: 40px 0;
}
.our-clients {
    margin-top: 140px;
    position: relative;
    background-image: url("../../assest/img/right-bg-clients.svg"), url("../../assest/img/left-bg-clients.svg");
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
}
.our-clients .title-section h3 {
    color: #000;
}
.description-section {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin: 28px 39px;
}
.flex-clients {
    display: flex;
    column-gap: 54px;
    justify-content: center;
}
.block-clients {
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding-top: 24px;
}
.name-b-c {
    width: 56%;
}
.name-b-c h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
.head-img-name {
    display: flex;
    align-items: center;
}
.img-b-c {
    padding: 0 20px 0 20px
}
.img-b-c img {
    border-radius: 50%;
}
.content-b-c {
    margin-top: 22px;
    padding: 0 20px 0 20px
}
.content-b-c p{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}
.text-info-c {
    display: flex;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}
.block-left-c, .block-right-c {
    display: flex;
    width: 50%;
    height: auto;
    column-gap: 15px;
    align-items: center;
    padding: 11px 18px 11px;
}
.block-right-c {
    border-left: 1px solid #fff;
}
.text-b-l-c {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.icon-b-l-c {
    height: 31px;
    width: auto;
}
.info-clients {
    width: 83%;
    height: auto;
    margin-top: 70px
}
.clients-bottom-fix {
    padding-bottom: 400px;
}
.pre-footer-section {
    min-height: 950px;
    position: relative;
    padding-bottom: 50px;
}
.img-pre-footer {
    width: 100%;
    height: 100%;
    background-image: url("../../assest/img/bg-pre-footer.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.img-color-pre {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
}
.block-questions {
    width: 884px;
    height: 445px;
    background: #181818;
    padding: 34px;
    position: absolute;
    top:1%;
    left:50%;
    transform:translate(-50%, -50%);

}
.title-block-q {
    padding-bottom: 45px;
}
.title-block-q h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.flex-form-pre-footer {
    width: 68%;
    height: auto;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: 50% 50% 1fr; 
    gap: 48px 58px;
    grid-template-areas: 
    "name-pre phone-pre ."
    "que-pre que-pre ."
    ". . ."; 
}
.name-pre { 
    grid-area: name-pre; 
}
.phone-pre { 
    grid-area: phone-pre; 
}
.que-pre { 
    grid-area: que-pre; 
}
.block-l-form-3 {
    color: #fff;
}
.block-l-form-3 button {
    margin-top: 50px;
}
.footer-form-3 {
    text-align: center;
}
.title-f-q {
    margin: 102px 0 26px;
}
.title-f-q h2{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}
.social-links {
    display: flex;
    column-gap: 15px;
    justify-content: center;
}
.map-home-page {
    width: 925px;
    height: 465px;
    margin: 470px auto 0 auto;
    filter: grayscale(100%);
}
